# Core app
streamlit==1.27.0
requests==2.32.0
wikipedia==1.4.0

# LangChain and related
langchain==0.1.0  # or the specific version you’re using
langchain_community==0.1.0
langchain_text_splitters==0.1.0
langchain_huggingface==0.1.0
langchain_groq==0.1.0
langchain_classic==0.1.0

# Vectorstore
faiss-cpu==1.7.4

# NLP & Embeddings
transformers==4.30.2
torch==2.2.0

# Environment variables
python-dotenv==1.0.0

# Utilities
rich==14.3.3
markdown-it-py==4.0.0
mdurl==0.1.2
pygments==2.19.2